/*---------------------------------
        User Login Page
---------------------------------*/
.login-wrapper {
    padding: 30px 50px 45px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    display: inline-block;

}

.user-login-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-login-section .nav-tabs {
    border-bottom: none;
}

.user-login-section .nav-tabs .nav-link.active {
    color: #0cbcb7;
}

.user-login-section .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.single-banner-item.style2 .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
}

#login-form .form-control:focus,
#register-form .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login-form input,
#register-form input {
    padding: 22px;
    border-radius: 5px;
}

/*------------------------------------------
        Map Marker
-------------------------------------------*/

#map_right_listing {
    width: 100%;
    height: 100vh;
}

.infoBox {
    -webkit-animation: fadeIn .9s;
    animation: fadeIn .9s;
    padding-right: 50px
}

.infoBox>img {
    position: absolute !important;
    right: 60px !important;
    top: 10px !important;
    z-index: 9999;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer
}

.gmnoprint {
    bottom: 200px !important;
    position: absolute !important;
    left: auto !important;
    right: -50px;
}

#map_contact {
    width: 100%;
    height: 450px
}

.marker_info img {
    display: block;
    width: 240px;
    height: 140px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.marker_info {
    width: 240px;
    border-radius: 5px;
    text-align: left;
    background: #000;
    background: #fff;
    position: relative;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
}


.marker_info h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 3px;
    color: #444;
    margin-bottom: 10px;
}

.marker_info em {
    display: inline-block;
    font-size: 12px;
    font-size: .75rem;
    color: #333;
    font-style: normal;
    font-weight: 500;
}

.marker_info span {
    display: block;
    padding: 20px;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.2;
    color: #fff;
    position: relative
}

.cluster-visible {
    background-image: none !important;
    background-color: #0cbcb7;
    border-radius: 50%;
    color: #fff !important;
    height: 45px !important;
    line-height: 45px !important;
    width: 45px !important;
    animation: cluster-animation 1.5s linear infinite;
}

.cluster-visible::before {
    opacity: .2;
    box-shadow: inset 0 0 0 4px #66676b;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cluster-animation 1.5s linear infinite;
}

@keyframes cluster-animation {
    0% {
        box-shadow: 0 4px 10px rgba(12, 188, 183, 0.2), 0 0 0 0 rgba(12, 188, 183, 0.2), 0 0 0 5px rgba(12, 188, 183, 0.2), 0 0 0 10px rgba(12, 188, 183, 0.2);
    }

    100% {
        box-shadow: 0 4px 10px rgba(12, 188, 183, 0.2), 0 0 0 5px rgba(12, 188, 183, 0.2), 0 0 0 10px rgba(12, 188, 183, 0.2), 0 0 0 20px rgba(12, 188, 183, 0);
    }
}

.btn_infobox_reviews {
    color: #999 !important;
    padding: 0 !important;
}

.marker_info span strong {
    display: block;
    font-weight: 500
}

.marker_info:after {
    right: 100%;
    top: 56%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px
}

.marker_info::after {
    right: 100%;
    top: 56%;
    border: solid transparent;
    border-top-color: transparent;
    border-top-width: medium;
    border-right-color: transparent;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-color: transparent;
    border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: transparent;
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px;
}

/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.site-navbar-wrap {
    z-index: 99;
    transition: 0.3s all ease;
}

.site-navbar-wrap .navbar-brand {
    padding: 0;
    max-width: 150px;
}

.site-navbar-wrap.scrolled {
    padding: 0px 0;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}


.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 10px;
}

.site-navbar-wrap.v1 .site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none !important;
}

.site-navbar-wrap.v2 {
    border-bottom: 1px solid rgba(153, 153, 153, 0.22);
    padding: 10px 0;
    background-color: #fff;
}

.site-navbar-wrap.v2 .site-navbar .site-navigation .site-menu>li>a {
    color: #000;
}

.dropdown>.has-children>a::before {
    position: absolute !important;
    content: "\f3d3" !important;
    color: #000 !important;
    font-family: "Ionicons" !important;
    top: 14px !important;
    right: 3px !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 122%;
    position: absolute;
    text-align: left;
    padding: 15px 30px;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.4s 0s;
    z-index: 9999;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    min-width: 15.3rem;
    z-index: 9999;
    border-radius: 2px;

}

.site-navbar .site-navigation .site-menu .has-children .dropdown li {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #f91942;
    content: "";
    transition: 0.6s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:hover:before {
    width: 100%;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    border-bottom: 1px solid #f5f6f7;
    list-style: none;
    margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    display: block;
    color: #666;
    transition: 0.3s;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    transition-delay: 0s;
    margin-top: -1px;
    visibility: visible;
    opacity: 1;
}

/*-----------------------------------------------------------
                    Menu mobile
-------------------------------------------------------------*/

/*-------------------------------------------
            Preloader
-------------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------------------
                Buttons & Links
-------------------------------------------------------------*/
.link-hov.style1 {
    color: #fff;
    transition: 0.5s;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.link-hov.style1:before {
    position: absolute;
    top: 105%;
    left: 0;
    width: 0%;
    height: 1px;
    content: "";
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}

.link-hov.style1:hover {
    color: #fff;
}

.link-hov.style1:hover:before {
    visibility: visible;
    width: 100%;
    opacity: 1;

}

.link-hov.style1.text-white:before {

    background: #fff;


}

.link-hov.style1.text-white:hover:before {
    visibility: visible;
    width: 100%;
    opacity: 1;

}

.link-hov.style2 {
    color: #555;
    transition: 0.5s;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.link-hov.style2:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    content: "";
    background: #555;
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: 0.4s;

}

.link-hov.style2:hover {
    color: #000;
}

.link-hov.style2:hover:before {
    visibility: visible;
    opacity: 1;
    width: 100%;

}

.link-hov.style3 {
    color: #777;
    transition: 0.5s;
    position: relative;
    font-size: 15px;
}

.link-hov.style3:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    content: "";
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

}

.link-hov.style3:hover {
    color: #141414;
}

.link-hov.style3:hover:before {
    visibility: visible;
    width: 100%;
    opacity: 1;

}


.round-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.round-bg i {
    font-size: 16px;
}

.round-bg.green {
    background-color: #0BF389;
    color: #fff;
}

.round-bg.pink {
    background-color: #FFAE00;
    color: #fff;
}

.round-bg.red {
    background-color: #FF6D6D;
    color: #fff;
}

.round-bg.transparent {
    border: 1px solid #ddd;

}

.slider-btn.v1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgba(168, 163, 163, 0.71);
    cursor: pointer;
    transition: 0.4s;
}

.slider-btn.v1 i {
    line-height: 33px;
    font-size: 16px;
    color: rgba(168, 163, 163, 0.9);
    transition: 0.4s;
}

.slider-btn.v1:hover {
    /*    background: #0cbcb7;*/
    color: #fff;
    border-color: transparent;
}

.slider-btn.v1:hover i {
    color: #fff;
}

.slider-btn.v2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.4s;
    background: #fff;
}

.slider-btn.v2 i {
    line-height: 29px;
    font-size: 12px;
}

.slider-btn.v2:hover {
    background: #0cbcb7;
    color: #fff !important;
    border-color: transparent;
}

.slider-btn.v2:hover i {
    color: #fff;
}

.slider-btn.v3 {
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    background: #0cbcb7;
}

.slider-btn.v3 i {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.slider-btn.v4 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s;
    background: #0cbcb7;
}

.slider-btn.v4 i {
    line-height: 35px;
    font-size: 18px;
    color: #fff;
}

.btn.v1 {
    background: #0cbcb7;
    padding: 9px 30px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff !important;
    transition: 0.3s;
    line-height: 1.1;
    font-size: 15px;
}

.btn:focus {
    box-shadow: none !important;
}

.btn.v1 i {
    margin-left: 5px;
}

.btn.v1:hover {
    background: #fff;
    color: #333 !important;
    border: 1px solid #ddd;

}

.btn.v2 {
    background: #BDC1CA;
    padding: 9px 15px;
    border-radius: 50px;
    color: #fff;
    transition: 0.3s;
    border: 1px solid transparent;
    font-size: 14px;
    transition: 0.5s;
    line-height: 1;

}

.btn.v2 i {
    margin-right: 7px;
}

.btn.v2:hover {
    background: transparent;
    color: #BDC1CA !important;
    border: 1px solid #BDC1CA;

}

.btn.v3 {
    background: #0cbcb7;
    padding: 9px 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff !important;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.btn.v3 i {
    margin-right: 8px;
}

.btn.v3:hover {
    background: #fff;
    color: #333 !important;
    border: 1px solid #ddd;

}

.btn.v3.white {
    background: #fff !important;
    color: #0cbcb7 !important;
}

.btn.v3.white:hover {
    background: #0cbcb7 !important;
    color: #fff !important;
    border-color: transparent;

}

.btn.v4 {
    background: #0cbcb7;
    padding: 9px 30px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff !important;
    transition: 0.3s;
    line-height: 1.1;
    font-size: 15px;

}

.btn.v4:hover {
    background: #fff;
    color: #333 !important;
    border: 1px solid #ddd;

}

.btn.v5 {

    color: #fff;
    border: 1px solid transparent;
    padding: 9px 15px;
    border-radius: 50px;
    font-size: 14px;
    transition: 0.5s;
    background: #1CBBB4;
    line-height: 1;


}

.btn.v5 i {
    margin-right: 7px;
}

.btn.v5:hover {
    background: transparent;
    color: #999;
    border: 1px solid #ddd;

}

.btn.v6 {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 11px;
    letter-spacing: 2px;
    transition: 0.5s;
    text-transform: uppercase;
    line-height: 1.2;
    background: transparent;
}

.btn.v6:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid transparent;

}

.btn.v6.red {
    color: #fff !important;
    background: #0cbcb7;
    border: 1px solid transparent;
}

.btn.v6.red:hover {
    color: #6c6c6c !important;
    background: #fff;
}

.btn.v6.dark {
    color: #6c6c6c !important;
    border: 1px solid #ddd;
}

.btn.v6.dark:hover {
    background: #f9f9f9;
}

.btn.v7 {
    background: #0cbcb7;
    color: #fff;
    padding: 11px 20px;
    border: 1px solid transparent;
    transition: 0.5s;
    border-radius: 50px;
}

.btn.v7:hover {
    background: transparent;
    color: #333;
    border: 1px solid #ddd;

}

.btn.v8 {
    background: #0cbcb7;
    padding: 9px 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff !important;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    font-weight: 500 !important;
}

.btn.v8:hover {
    background: #fff;
    color: #333 !important;

}

.btn.v8 i {
    margin-left: 5px;
}

.btn.v9 {
    background: transparent;
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff !important;
    transition: 0.3s;
    line-height: 1.1;
    font-size: 15px;
}

.btn.v9:hover {
    background: #fff;
    color: #333 !important;
    border: 1px solid #ddd;

}