/*---------------------------------
        User Login Page
---------------------------------*/
.login-wrapper {
    padding: 30px 50px 45px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    display: inline-block;

}

.user-login-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-login-section .nav-tabs {
    border-bottom: none;
}

.user-login-section .nav-tabs .nav-link.active {
    color: #0cbcb7;
}

.user-login-section .nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.single-banner-item.style2 .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
}

#login-form .form-control:focus,
#register-form .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login-form input,
#register-form input {
    padding: 22px;
    border-radius: 5px;
}

/*------------------------------------------
        Map Marker
-------------------------------------------*/

#map_right_listing {
    width: 100%;
    height: 100vh;
}

.infoBox {
    -webkit-animation: fadeIn .9s;
    animation: fadeIn .9s;
    padding-right: 50px
}

.infoBox>img {
    position: absolute !important;
    right: 60px !important;
    top: 10px !important;
    z-index: 9999;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer
}

.gmnoprint {
    bottom: 200px !important;
    position: absolute !important;
    left: auto !important;
    right: -50px;
}

#map_contact {
    width: 100%;
    height: 450px
}

.marker_info img {
    display: block;
    width: 240px;
    height: 140px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.marker_info {
    width: 240px;
    border-radius: 5px;
    text-align: left;
    background: #000;
    background: #fff;
    position: relative;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
}


.marker_info h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 3px;
    color: #444;
    margin-bottom: 10px;
}

.marker_info em {
    display: inline-block;
    font-size: 12px;
    font-size: .75rem;
    color: #333;
    font-style: normal;
    font-weight: 500;
}

.marker_info span {
    display: block;
    padding: 20px;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.2;
    color: #fff;
    position: relative
}

.cluster-visible {
    background-image: none !important;
    background-color: #0cbcb7;
    border-radius: 50%;
    color: #fff !important;
    height: 45px !important;
    line-height: 45px !important;
    width: 45px !important;
    animation: cluster-animation 1.5s linear infinite;
}

.cluster-visible::before {
    opacity: .2;
    box-shadow: inset 0 0 0 4px #66676b;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cluster-animation 1.5s linear infinite;
}

@keyframes cluster-animation {
    0% {
        box-shadow: 0 4px 10px rgba(12, 188, 183, 0.2), 0 0 0 0 rgba(12, 188, 183, 0.2), 0 0 0 5px rgba(12, 188, 183, 0.2), 0 0 0 10px rgba(12, 188, 183, 0.2);
    }

    100% {
        box-shadow: 0 4px 10px rgba(12, 188, 183, 0.2), 0 0 0 5px rgba(12, 188, 183, 0.2), 0 0 0 10px rgba(12, 188, 183, 0.2), 0 0 0 20px rgba(12, 188, 183, 0);
    }
}

.btn_infobox_reviews {
    color: #999 !important;
    padding: 0 !important;
}

.marker_info span strong {
    display: block;
    font-weight: 500
}

.marker_info:after {
    right: 100%;
    top: 56%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px
}

.marker_info::after {
    right: 100%;
    top: 56%;
    border: solid transparent;
    border-top-color: transparent;
    border-top-width: medium;
    border-right-color: transparent;
    border-right-width: medium;
    border-bottom-color: transparent;
    border-bottom-width: medium;
    border-left-color: transparent;
    border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: transparent;
    border-right-color: #fff;
    border-width: 12px;
    margin-top: -12px;
}

/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.site-navbar-wrap {
    z-index: 99;
    transition: 0.3s all ease;
}

.site-navbar-wrap .navbar-brand {
    padding: 0;
    max-width: 150px;
}

.site-navbar-wrap.scrolled {
    padding: 0px 0;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}


.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 10px;
}

.site-navbar-wrap.v1 .site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none !important;
}

.site-navbar-wrap.v2 {
    border-bottom: 1px solid rgba(153, 153, 153, 0.22);
    padding: 10px 0;
    background-color: #fff;
}

.site-navbar-wrap.v2 .site-navbar .site-navigation .site-menu>li>a {
    color: #000;
}

.dropdown>.has-children>a::before {
    position: absolute !important;
    content: "\f3d3" !important;
    color: #000 !important;
    font-family: "Ionicons" !important;
    top: 14px !important;
    right: 3px !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 122%;
    position: absolute;
    text-align: left;
    padding: 15px 30px;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.4s 0s;
    z-index: 9999;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    min-width: 15.3rem;
    z-index: 9999;
    border-radius: 2px;

}

.site-navbar .site-navigation .site-menu .has-children .dropdown li {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #f91942;
    content: "";
    transition: 0.6s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:hover:before {
    width: 100%;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    border-bottom: 1px solid #f5f6f7;
    list-style: none;
    margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    display: block;
    color: #666;
    transition: 0.3s;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    transition-delay: 0s;
    margin-top: -1px;
    visibility: visible;
    opacity: 1;
}


/*-----------------------------------------------------------
                    Menu mobile
-------------------------------------------------------------*/

/*-------------------------------------------
            Preloader
-------------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------------------
                Buttons & Links
-------------------------------------------------------------*/

.link-hov.style2 {
    color: #555;
    transition: 0.5s;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.link-hov.style2:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    content: "";
    background: #555;
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: 0.4s;

}

.link-hov.style2:hover {
    color: #000;
}

.link-hov.style2:hover:before {
    visibility: visible;
    opacity: 1;
    width: 100%;

}

.round-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.round-bg i {
    font-size: 16px;
}

.round-bg.green {
    background-color: #0BF389;
    color: #fff;
}

.round-bg.pink {
    background-color: #FFAE00;
    color: #fff;
}

.round-bg.red {
    background-color: #FF6D6D;
    color: #fff;
}

.round-bg.transparent {
    border: 1px solid #ddd;

}

.slider-btn.v2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.4s;
    background: #fff;
}

.slider-btn.v2 i {
    line-height: 29px;
    font-size: 12px;
}

.slider-btn.v2:hover {
    background: #0cbcb7;
    color: #fff !important;
    border-color: transparent;
}

.slider-btn.v2:hover i {
    color: #fff;
}

.btn:focus {
    box-shadow: none !important;
}

.btn.v2 {
    background: #BDC1CA;
    padding: 9px 15px;
    border-radius: 50px;
    color: #fff;
    transition: 0.3s;
    border: 1px solid transparent;
    font-size: 14px;
    transition: 0.5s;
    line-height: 1;

}

.btn.v2 i {
    margin-right: 7px;
}

.btn.v2:hover {
    background: transparent;
    color: #BDC1CA !important;
    border: 1px solid #BDC1CA;
}

/*---------------------------------------------------
               Hero Area
---------------------------------------------------- */

.hero.bg-zoom {
    animation: breath 20s linear infinite;
}

@keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        background-size: 110% auto;
    }

    100% {
        background-size: 100% auto;
    }
}

.hero__description,
.hero-desc.v2 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0.9375rem;
}

.hero__title,
.hero-title.v2 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: -4px;
    text-transform: capitalize;
}

.hero__title.events-tab {
    display: none;
}

.hero__list {
    overflow: hidden;
}

.hero__list-item {
    list-style: none;
    margin-right: 0.0625rem;
    display: inline-block;
    margin: 0 10px;
}

.hero__list-item a {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.0625rem;
    font-weight: 600;
    display: inline-block;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.hero__list-item a i {
    display: inline-block;
    margin-top: 0.125rem;
    font-size: 1.25rem;
    margin-left: 0.80rem;
}

.hero__list-item a.active-list {
    background: #fff;
    color: #0cbcb7;
}

/*---------------Hero two------------*/

.hero__form.v2 {
    padding: 10px;
    background: #fff;
    border-radius: 50px;
}

.hero__form.v2.filter {
    border-radius: 50px;
}


.hero__form.v2 .btn-default.btn-default-red {
    margin-left: 85px;
}

.hero__form.v2 .hero__form-input::before {

    position: absolute;
    top: -2px;
    width: 1px;
    height: 40px;
    content: "";
    background: #e0e0e0;
    left: -5px;

}


.hero__form.v2 .hero__form-input {
    border-bottom: none;
    position: relative;

}

.hero__form.v2 .nice-select.hero__form-input {
    line-height: 20px !important;
    font-size: 15px;
}


.hero__form.v2.bg-grey.filter .btn.v3 {
    margin-left: 77px;
}

/*---------Video Header------*/
.video-area.v1 {
    height: 100vh;
}

.video-area.v1 .video-content {
    z-index: 1001;
    padding-top: 50px;
}

.video-area.v1 .overlay {
    z-index: 1001;
}

.video-area.v1 .video-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------Area Fullscreen----------------*/
.video-full,
.map-full,
.hero-full {
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}

.sec_footer {
    position: absolute;
    bottom: 2%;
    width: 100%;
    z-index: 1001;
}

.video-full .hero__title,
.hero-title.v2 {
    line-height: 1.2;
}

.sec_footer .social-buttons.style2 li a i {
    font-size: 15px;
}

.sec_footer .contact-info .icon {
    font-size: 16px;
    width: 22px;
}

.sec_footer .contact-info .text {
    font-size: 12px;
}

.map-full.contact-map.v2 #map_right_listing {
    height: 100vh;
}

.map-full .nice-select.open .list {
    height: 90px;
}

/*----------Form----------*/
.nice-select {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    user-select: none;
}

.nice-select:after {
    content: '\f3d0';
    font-family: "Ionicons";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 16px;
    color: #999;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover {
    background-color: #2ac590;
    color: #fff;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.custom-select,
.custom-select:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    outline: none;
}

/*-------------------------------------------
             Filter Listing 
--------------------------------------------*/
.range-text {
    line-height: 39px;
}

.price-range .ui-slider-handle.ui-corner-all.ui-state-default {

    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: none;
    box-shadow: 0px 5px 13px rgba(167, 167, 167, 0.7);
    cursor: pointer;

}

.price-range.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
    background: #0cbcb7;
}

.ui-slider-horizontal {
    height: 4px;
    background: #ddd;
}

.price-range.ui-widget.ui-widget-content {
    border: none;
    margin-left: 10px;
}


.filter-box.style1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 30px;
}

.filter-box.style1.right {
    padding: 8px 0 0 0;

}

.filter-box.style1.left {
    padding: 8px 0 0 0;

}

.filter-sub-title h5 {
    color: #2f333a;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 30px 0 10px;
    padding: 0 0 10px;
    position: relative;
    text-transform: uppercase;
}

.filter-sub-menu.style1 ul li.has-sub>a,
.open-filter>a {
    color: #777;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 14px 15px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.theme-menu .filter-sub-menu.style1 ul li.has-sub>a {
    border-bottom: none;
    text-transform: uppercase;
    font-weight: 600;

}

.theme-menu .filter-sub-menu.style1 ul li.has-sub li a {
    border-bottom: none;
    margin-bottom: 15px;
}

.theme-menu .filter-sub-menu.style1>ul>li>a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #363f4d;
}

.theme-menu .filter-sub-menu.style1 ul li.has-sub>a:after {
    content: "\f218";
    font-family: "Ionicons";

}

.theme-menu .filter-sub-menu.style1 ul li.has-sub.open>a:after {
    content: "\f209";
}

.filter-sub-menu.style1 ul li.has-sub>a:after,
.open-filter>a:after {
    color: #999;
    content: "\f35f";
    font-family: "Ionicons";
    font-size: 20px;
    position: absolute;
    right: 13px;
    font-weight: 300;
    transition: 0.5s;
}

.filter-sub-menu.style1 ul li.has-sub.open {
    display: block;
    width: auto;
}

.option-box .has-sub {

    margin-top: 35px;

}

.filter-sub-menu.style1 ul li.has-sub.open>a:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.filter-sub-menu.style1 ul li.has-sub li a {
    border: 0 none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0px 10px 0;
    padding: 0 10px 5px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.filter-sub-menu.style1 ul li.has-sub li a:hover {
    color: #8a8f6a;
}

.filter-sub-menu.style1 ul li.has-sub li:last-child a {
    border: none;
    margin-bottom: 10px;
}

.filter-sub-menu.style1 ul li ul {
    display: none;
    margin-top: 17px;
}

.explore__form-checkbox-list.full-filter {
    width: 950px;
    position: absolute;
    top: 35px;
    left: -278%;
    background: #fff;
    z-index: 999;
    padding: 35px 30px;
    box-shadow: 0px 18px 26px rgba(221, 221, 221, 0.35)
}

#amount {
    width: 100%;
    border: none;
    font-size: 18px;
}

.nav.item-filter-list li {
    display: inline-block;
    line-height: 0;
    margin-right: 10px;
}

.item-filter-list li a {
    transition: 0.3s;
}

.item-filter-list li a:hover,
.item-filter-list li a.active {
    color: #0cbcb7;
    border: 1px solid #0cbcb7;
    border-radius: 3px;
}

.item-element p {
    line-height: 38px;
    font-size: 15px;
}

.item-element span {
    color: #0cbcb7;
    font-weight: 500;

}

.item-filter-list li a {
    color: #333333;
    font-size: 25px;
    line-height: 0;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;

}

.item-filter-list li a i {
    display: inline-block;
}

.filter-input {

    border: 1px solid #ddd;
    margin-top: 25px;
    border-radius: 3px;
    width: 100%;
    padding: 10px 20px;
    height: 50px;

}

.filter-input:last-child {
    padding: 5px 20px;
}

.filter-input.nice-select::after {
    content: '\f35f';
    font-family: "Ionicons";
    display: block;
    margin-top: 5px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 5%;
    font-size: 20px;
    color: #999;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.filter-input.nice-select {

    font-size: 15px;
    font-weight: 400;
}

.filter-title {

    position: relative;

}

.filter-title span {

    position: absolute;

}

.filter-title p {

    font-size: 18px;
    color: #000;

}


.filter-checkbox input[type="checkbox"] {
    display: none;
}

.filter-checkbox.one-in-row label {
    margin-top: 9px;
    width: 100%;
}

.filter-checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin-right: 20px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 14px;
}

.half-filter .filter-checkbox label {
    display: block;

}

.half-filter .filter-checkbox p {
    padding: 10px 0;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.filter-checkbox label::before {

    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 2px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.25s;
    font-family: "Ionicons";
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 21px;

}

.filter-checkbox input[type="checkbox"]:checked+label::before {

    content: "\f3fd";
    background-color: #0cbcb7;
    border: none;

}

.full-filter .filter-checkbox label {

    display: block;

}
.list-ratings {
    margin-left: 25px;
    line-height: 1.2;
}
.full-filter #amount {
    font-size: 17px;
    margin-left: 5px;
    font-weight: 500;
}

.full-filter .filter-title p {
    font-size: 17px;
    font-weight: 500;
}

.explore__form-checkbox-list.full-filter .filter-checkbox p {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}

.filter .filter-sub-menu.style1 ul li.has-sub>a {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.explore__form-checkbox-list.full-filter {

    left: -342%;
    z-index: 2000;
}

.full-filter .price-range.ui-widget.ui-widget-content {
    border: none;
    margin-left: 10px;
}

.hero__form.filter {
    background: #f9f9f9;
}


.hero__form.filter button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
}

#search-filter::placeholder,
#location-filter::placeholder {
    color: #888;
    font-size: 15px;
    font-weight: 400;
}


/*--------filter with sticky map------*/
.explore__map-side {
    width: 43%;
    position: fixed;
    top: 70px;
    height: 100%;
    right: 0;
    padding-left: 32px;
}

.explore__map-side #map-container {
    margin-bottom: 0;
    height: 100%;
}

.explore__map-side #map_right_listing {
    width: 100%;
    height: 100%;
    z-index: 999;
}

.explore__map-side.v2 {
    left: -2.5%;
}

.contact-map.v2 {
    position: relative;
    overflow: visible;
}

.filter-wrapper.style1.v2 {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

.contact-map.v2 .filter-wrapper.style1.v2 .hero__form.filter {
    box-shadow: 0 18px 12px 0 rgba(0, 0, 0, .12);
}

.filter-wrapper.style1.v2 .hero__form.filter {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12)
}

.contact-map.v2 #map_right_listing {
    height: 600px;

}

/*---------------------------------------
            Listing Page
---------------------------------------*/

.listing-details-wrapper {
    position: relative;
}

.listing-details-wrapper .video-container {
    height: 550px;
}

.list-details-title.v1 {
    transform: translateY(350px);
    width: 100%;
}

.list-details-title.v2 {
    margin-top: 100px;
}

.list-details-title.v3 {
    z-index: 1001;
    transform: translateY(350px);
}

.list-details-btn .share-btn {
    margin-left: 15px;
}

.single-listing-title h2 {
    margin-bottom: 5px;
    display: inline-block;
}


.single-listing-title h2 i,
.single-listing-title p i {
    color: #0BF389;
}

.single-listing-title h2 i {
    margin-left: 7px;
}

.list-details-title.v1 .single-listing-title h2,
.list-details-title.v3 .single-listing-title h2,
.list-details-title.v1 .single-listing-title p,
.list-details-title.v3 .single-listing-title p,
.list-details-title.v1 .list-ratings a,
.list-details-title.v3 .list-ratings a {
    color: #fff;

}

.list-details-title.v2 .single-listing-title h2,
.list-details-title.v2 .single-listing-title p,
.list-details-title.v2 .list-ratings a {
    color: #333;

}

.list_menu {
    width: 100%;
    background: #fff;
    z-index: 999;
    transition: 0.4s;
    border-bottom: 1px solid #ddd;

}

.list-details-tab.fixed_nav li {
    display: inline-block;
}

.list-details-tab.fixed_nav {
    margin: 0 auto;
}

.list-details-tab .nav-link {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    color: #000;
    padding: 10px 0;
}

.list-details-tab .nav-link {
    position: relative;
    text-align: center;
}

.list-details-tab .nav-item {
    margin-bottom: 0 !important;
    margin-right: 45px;
    position: relative;
    padding: 10px 0;
}


.list-details-tab .nav-item:after {
    position: absolute;
    bottom: -0.04rem;
    left: 0;
    width: 0;
    height: 1px;
    content: "";
    background: #0cbcb7;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-color: transparent;
}


.list-details-tab .nav-item.active:after,
.list-details-tab .nav-item:hover:after {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.list-details-tab .nav-item.active a {
    color: #0cbcb7;
}

.list-details-tab .nav-item a {
    font-size: 16px;
}

.list-details-section {
    padding-top: 80px;
}

.list-details-section:first-child {
    padding-top: 30px !important;
}

#overview h4 {
    margin-bottom: 10px;
}

.list-details-btn div {
    display: inline-block;
}

.single-listing-title p i {
    margin-right: 5px;
}

.tab-pane.active {
    animation: slide-up 0.4s ease-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}